include LICENSE.md
include README.md
include requirements.txt
include CMakeLists.txt
include pyproject.toml

recursive-include include *.hpp
recursive-include src *.cpp *.hpp
recursive-include python *.py
recursive-include tests *.py
recursive-include docs *.md *.txt

prune build/
prune dependencies/
prune .git/
prune __pycache__
prune *.egg-info
